body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-family: inherit;
}

h1 ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* #region header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}
/* #endregion header */

/* #region Order Service button */


.service-button {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}
.business {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button-business {
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-business:focus, .button-business:hover {
    background-color: #404BBF;
}
/* #endregion Order Service button */

/*#region describe*/

.opis-ul {
  display: flex;
  gap: 24px;
}
.opis {
  padding-top: 120px;
  padding-bottom: 120px;
}
.opis-li {
  width: calc((100% - 72px) / 4);
}
.comand-svg-a {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comand-svg {
  display: flex;
  justify-content: center;
}
.svg-icon {
  fill: #f4f4fd;}
  
  .comand-svg-ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    display: flex;
    justify-content: center;}

.comand-svg-a:hover, .comand-svg-a:focus{
    background-color: #404BBF;
}
.test-class {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 112px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-capitalize {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.criteria-stile-htri {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.criteria-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*#endregion describe*/
/*#region port Portfolio*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}
        
.portfolio-li {
  width: calc((100% - 48) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfilio-div {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;}

.portfolio-li:hover .portfilio-wrapper-text-p {
    transform: translateY(0);}


    .portfolio-wrapper{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  .portfilio-wrapper-text-p {
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*#endregoin Portfolio*/
/* #region Our Team */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.comand-link{
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-link {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-ul {
  display: flex;
  gap: 24px;
}
.comand-svg-a:hover, .comand-svg-a:focus {
  #404bbf
}
.div-comand {
  padding: 32px 0 32px;
  text-align: center;
}
/* #endregion Our Team */

/*#region footer  */
.logo-futer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;}
.footer-container{
    display: flex;
    align-items: baseline;
    /* gap: 120px; */}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-futer-span{
    color: #f4f4fd;}
.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  display: inline-block;
  margin-right: 120px;
  }
.footer-link {
}
.footer-text { 
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    
}
.footer-svg-ul {display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}
.footer-svg-li {fill: white;
}
.footer-svg-a{ background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fotter-svg ul li svg {
    fill: white;
}
.footer-svg-a:hover,
.footer-svg-a:focus {
    background-color: #31D0AA;}

.footer-svg-a {background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-div {
   margin: auto;
}
.footer-form-text { font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-form {display: flex;
    gap: 24px;
}
.footer-form-label {
}
.footer-input {border: 1px solid #fff;
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;    
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bt-ft-form {  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.svg-icon-footer-form { fill: #fff;
    margin-left: 16px;
}
.bt-ft-form:hover, .bt-ft-form:focus{
    background-color: #404BBF;}

/*#endregion footer  */

/* *#regiom beckdrop */
.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.beckdrop.is-open{
  opacity: 1;
  pointer-events: auto;

}
.modal {
  position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    /* f */
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

  
.close-btn {
  display: flex;
align-items: center;
 justify-content: center;}


.close-btn{
  position: absolute;
   width: 24px;
    height: 24px;
   background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    top: 24px;
    right: 24px;
    cursor: pointer;
    fill: #2e2f42;
}
.close-btn-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:focus,
.close-btn:hover {
background-color: #404BBF;
    fill: #ffffff;
    border: none;
}
.modal-text  {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.modal-container-block {
  margin-bottom: 8px;
}
.modal-form-label {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;

}
.modal-form-input-cont {
  position: relative;
}
.modal-form-input {
  height:40px ;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
 border-color: #4D5AE5;
}


  .modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .modal-form-input:focus + .modal-form-icon {
  fill: #4D5AE5;
}

.custpm-checkbox {
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: transparent; 
}
.label-checkbox a { 
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.label-checkbox {
  cursor: pointer;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

}
.cont-user-text{
  margin-bottom: 16px;
}
.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}
.checkbox:checked + .label-checkbox .custpm-checkbox {
   background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.user-comment {
  width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    /* text */
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-cont-checkbox{
  margin-bottom: 24px; 
}
.user-comment:focus {
  border-color: #4D5AE5;;
 outline: transparent;
} 
.user-comment::placeholder{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
.modal-btn {
  border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
  
}
.modal-btn{
  margin-top: 24px;
  margin-bottom: 24px;
}
.modal-btn:hover, .modal-btn:focus{
    background-color: #404BBF;}
    

    .form-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;}

/*#endregiom beckdrop */